@using Msv.AutoMiner.Common.Data.Enums
@using Msv.AutoMiner.Common.Helpers
@using Msv.AutoMiner.FrontEnd.Controllers
@model Msv.AutoMiner.FrontEnd.Models.Exchanges.ExchangeModel[]
    
@{ ViewBag.Title = "Exchanges";}    

@Html.Partial("_EditKeysPartial")

@if (TempData[ExchangesController.ExchangesMessageKey] != null)
{
    <div class="panel panel-success">
        <div class="panel-body text-success">
            @TempData[ExchangesController.ExchangesMessageKey]
        </div>
    </div>
}

@{
    var newExchanges = EnumHelper.GetCaptionsCached<ExchangeType>()
        .Select(x => x.Key)
        .Where(x => x != ExchangeType.Unknown)
        .Except(Model.Select(y => y.Type))
        .OrderBy(x => x.ToString())
        .ToArray();
}

<h2 class="text-center">Exchanges</h2>

<div class="pull-right div-table-actions">
    @if (newExchanges.Any())
    {
        <form asp-action="Add" method="post" class="form-inline">
            <label for="add-new-exchange-id">Add new exchange:</label>
            <select class="form-control" id="add-new-exchange-id" name="id">
                <option value="">Select...</option>
                @foreach (var newExchange in newExchanges)
                {
                    <option value="@newExchange">@newExchange</option>
                }
            </select>
            <button id="add-new-exchange-button" disabled="disabled"
                    class="btn btn-info" type="submit" title="Add new exchange">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
        </form>
    }
</div>

<table class="table table-bordered table-striped sticky-header">
    <thead>
    <tr>
        <th>Exchange</th>
        <th>Has keys</th>
        <th>Wallets count</th>
        <th>Last price received</th>
        <th>Last balance received</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="exchanges-table">
    @foreach (var exchange in Model.OrderBy(x => x.Type.ToString()))
    {
        @Html.Partial("_ExchangeRowPartial", exchange)
    }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function() {
            $("select#add-new-exchange-id").change(function() {
                $("#add-new-exchange-button").prop("disabled", $("select#add-new-exchange-id").prop("selectedIndex") <= 0);
            });
        })
    </script>
}