@using System.Reflection
@using System.Security.Claims
@using JetBrains.Annotations
@using Microsoft.AspNetCore.Html

@functions {

    private IHtmlContent MakeNavBarItem(
        string name, [AspMvcController] string controller, [AspMvcAction] string action, string iconClass)
    {
        var actionUrl = Url.Action(action, controller);
        var aTag = new TagBuilder("a")
        {
            Attributes =
            {
                ["href"] = actionUrl
            }
        };
        var iTag = new TagBuilder("i")
        {
            Attributes =
            {
                ["class"] = "fa " + iconClass,
                ["aria-hidden"] = "true"
            }
        };
        aTag.InnerHtml.AppendHtml(iTag)
            .Append(" " + name);
        var liTag = new TagBuilder("li");
        if (Context.Request.Path.StartsWithSegments(actionUrl))
            liTag.AddCssClass("active");
        liTag.InnerHtml.AppendHtml(aTag);
        return liTag;
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Universal Miner</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="~/css/animate.css">
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.css" />
        <link rel="stylesheet" href="~/lib/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="~/css/animate.min.css">
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @Html.Partial("_Favicons")
</head>
<body>
    <div id="throbber" style="display: none">
        <img src="~/images/ajax-loader.gif" alt="Please wait..." />
    </div>
    @Html.Partial("_AlertPartial")
    @Html.Partial("_ConfirmPartial")

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="images/header-logo.png" alt="Logo" width="32" height="32" /> Universal Miner
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav" id="topNavBar">
                        @MakeNavBarItem("Home", "Home", "Index", "fa-home")
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-btc"></i> Coins &amp; Algorithms <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @MakeNavBarItem("Coins", "Coins", "Index", "fa-btc")
                                @MakeNavBarItem("Algorithms", "Algorithms", "Index", "fa-calculator")
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-tasks"></i> Pools <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @MakeNavBarItem("Pools", "Pools", "Index", "fa-tasks")
                                @MakeNavBarItem("Payments", "PoolPayments", "Index", "fa-money")
                                <li role="separator" class="divider" />
                                @MakeNavBarItem("Multi-coin pools & new coin candidates", "MultiCoinPools", "Index", "fa-plus-circle")
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-credit-card"></i> Wallets <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @MakeNavBarItem("Wallets", "Wallets", "Index", "fa-credit-card")
                                @MakeNavBarItem("Operations", "WalletOperations", "Index", "fa-money")
                                <li role="separator" class="divider" />
                                @MakeNavBarItem("Ledger sheet", "LedgerSheet", "Index", "fa-book")
                                <li role="separator" class="divider" />
                                @MakeNavBarItem("Exchange settings", "Exchanges", "Index", "fa-exchange")
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cubes"></i> Mining <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @MakeNavBarItem("Rigs", "Rigs", "Index", "fa-desktop")
                                @MakeNavBarItem("Miners", "Miners", "Index", "fa-folder-open-o")
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-wrench"></i> Tools <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @MakeNavBarItem("Profitability estimation", "EstimateProfitability", "Index", "fa-usd")
                            </ul>
                        </li>
                        @*
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-tachometer"></i> Administration <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @MakeNavBarItem("Users", "Users", "Index", "fa-users")
                                @MakeNavBarItem("Logs", "Logs", "Index", "fa-file-text-o")
                            </ul>
                        </li>
                            *@
                    </ul>
                }
            </div>
        </div>
    </nav>
    @{
        var versionString = $"v{Assembly.GetEntryAssembly().GetName().Version}";
    }
    <div class="container body-content">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="panel panel-default user-panel">
                <div class="panel-body row">
                    <div class="col-xs-9">
                        <span class="glyphicon glyphicon-user"></span> <b>@User.FindFirst(ClaimTypes.Name).Value</b>
                    </div>
                    <div class="col-xs-3">
                        <a asp-controller="Authentication" asp-action="Logout"
                           class="btn btn-xs btn-default" title="Logout">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </div>
                </div>
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <div class="row small text-muted">
                <div class="col-xs-6">
                    <p>&copy; 2017-@DateTime.Today.Year - MSV</p>
                </div>
                <div class="col-xs-6 text-right">
                    @versionString
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
        <script src="~/lib/jquery-serialize-object/jquery.serialize-object.js"></script>
        <script src="~/lib/codemirror/lib/codemirror.js"></script>
        <script src="~/lib/codemirror/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/chart.js/dist/Chart.min.js"></script>
        <script src="~/lib/datatables/media/js/jquery.dataTables.js"></script>
        <script src="~/lib/datatables/media/js/dataTables.bootstrap.js"></script>
        <script src="~/lib/datatables.net-fixedheader/js/dataTables.fixedHeader.js"></script>
        <script src="~/js/bootstrap.file-input.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-serialize-object/jquery.serialize-object.js"></script>
        <script src="~/lib/codemirror/lib/codemirror.js"></script>
        <script src="~/lib/codemirror/mode/javascript/javascript.js"></script>
        <script src="~/lib/remarkable-bootstrap-notify/bootstrap-notify.js"></script>
        <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/chart.js/dist/Chart.min.js"></script>
        <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/media/js/dataTables.bootstrap.min.js"></script>
        <script src="~/lib/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="~/js/bootstrap.file-input.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
