@using System.Globalization
@using Msv.AutoMiner.Common.Data.Enums
@using Msv.AutoMiner.Common.Helpers
@using Msv.AutoMiner.Data
@using Msv.AutoMiner.FrontEnd.Models.Shared
@model Msv.AutoMiner.FrontEnd.Models.Coins.CoinEditModel

@{ ViewBag.Title = "Edit coin details"; }  

@functions {

    private string DoubleToString(double? value)
        => value != null ? value.Value.ToString(CultureInfo.InvariantCulture) : "";

}

<h2 class="text-center">Edit coin details</h2>

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Save" method="post">
    <input asp-for="Id" />
    
    <button type="button" class="btn btn-info pull-right" id="importJsonFileButton">
        <i class="fa fa-download" aria-hidden="true"></i> Import from JSON...
    </button>

    <h3>Basic info</h3>
    <div class="form-group">
        <label asp-for="Symbol">Symbol (ticker):</label>
        <input asp-for="Symbol" class="form-control" placeholder="For example, BTC" />
    </div>
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" placeholder="For example, BitCoin" />
    </div>
    <div class="form-group">
        <label asp-for="NewLogoUrl">Logo:</label>
        <span id="logoContainer">       
            @if (Model.Logo != null && Model.Logo.Any())
            {
                @await Component.InvokeAsync("LogoCoinName", new LogoCoinNameModel(null, null, Model.Logo))
                <label>
                    <input asp-for="DeleteLogo" type="checkbox" /> Delete it
                </label>
            }
        </span>
        <p class="small">
            Specify the URL of the coin logo in any widely used image format: PNG, JPG, GIF, BMP. 
            It will be automatically resized to 16x16 icon size and converted to PNG.
        </p>
        <input asp-for="NewLogoUrl" class="form-control" placeholder="Input logo URL or leave field blank to keep current one" />
    </div>
    <div class="form-group">
        <label asp-for="AlgorithmId">Algorithm:</label>
        <select asp-for="AlgorithmId" class="form-control">
            <option value="" disabled="disabled" selected="@(Model.AlgorithmId == null ? "selected" : "")">Select...</option>
            @foreach (var algorithm in Model.AvailableAlgorithms.OrderBy(x => x.Name))
            {
                <option value="@algorithm.Id">@algorithm.Name</option>
            }
        </select>
    </div>
    <label>
        <input asp-for="IgnoreInactiveMarket" /> Mine even if exchange market is inactive or on maintenance
    </label>

    <h3>Wallet address parameters</h3>
    <div class="form-group">
        <label asp-for="AddressFormat">Address format:</label>
        <select asp-for="AddressFormat" class="form-control">
            @foreach (var format in EnumHelper.GetCaptionsCached<AddressFormat>())
            {
                <option value="@format.Key">@format.Value</option>
            }
        </select>
    </div>
    <p class="small">
        Sample: <span id="addressSample" class="text-monospace"></span>
    </p>
    <div class="form-group">
        <label asp-for="AddressPrefixes">Allowed address prefixes (comma-delimited):</label>
        <p class="small">
            For example, BitCoin allows prefixes 1,3 and some other.
            Addresses with the specified prefixes (for example, <span class="text-monospace">1KERj2towSwzRYFLrGp4Lwk7RXCY6B8rtn</span> with prefix 1) and correct checksum will be considered valid.
            You can enter either Base58 symbolic representation of prefix or its numeric (hex) value (in this case put '0x' before it).
        </p>
        <p class="small">
            All acceptable prefixes in numeric form can be found in the <code>chainparams.cpp</code> file, mainnet chain parameters section
            (<a href="https://github.com/bitcoin/bitcoin/blob/5961b23898ee7c0af2626c46d5d70e80136578d3/src/chainparams.cpp#L135">sample</a> for BitCoin).
        </p>
        <input asp-for="AddressPrefixes" class="form-control" placeholder="For example, 1,3 or 0x00,0x05" />
    </div>

    <h3>Additional algorithm parameters</h3>
    <div class="form-group">
        <label asp-for="MaxTarget">Max hash target (Bitcoin-like by default):</label>
        <p class="small">
            Reference <code>GetDifficulty()</code> or similar method in the <code>rpc/blockchain.cpp</code> or <code>rpcblockchain.cpp</code> file
            (<a href="https://github.com/bitcoin/bitcoin/blob/17180fa608100ce1aab3df74c9db17c342c0380d/src/rpc/blockchain.cpp#L53">sample</a> for BitCoin).
            <br />Difficulty is usually defined as <var>maxTarget / currentTarget</var>, so you can easily find <code>maxTarget</code> from this equation.
            <br />You can enter max target value either in full form or in compact one (like nBits).
        </p>
        <input asp-for="MaxTarget" class="form-control text-monospace"
               placeholder="For example, 0x1d00ffff or 0x00000000ffff0000000000000000000000000000000000000000000000000000" />
    </div>

    <h3>Local node parameters</h3>
    <p class="small">
        If you have the running local node for this coin, specify its URL and credentials. It will be used to query the latest network info.
        In case of unavailability the API provider from the next section will be used.
        <br /><i>You will be able to create configuration file for the local wallet based on this data</i>
    </p>
    <div class="form-group">
        <label asp-for="NodeUrl">Node URL:</label>
        <p class="small">
            The port of this URL corresponds to <var>rpcport</var> field of the config.
            <br /><var>rpcallowip</var> field will be set to <span class="text-monospace">127.0.0.1</span> if localhost is specified; otherwise, it will be set to <span class="text-monospace">*</span> .
        </p>
        <input asp-for="NodeUrl" class="form-control" placeholder="For example, http://localhost:12345" />
    </div>
    <div class="form-group">
        <label asp-for="NodeLogin">RPC username:</label>
        <p class="small">This value corresponds to <var>rpcuser</var> field of the config</p>
        <input asp-for="NodeLogin" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NodePassword">RPC password:</label>
        <p class="small">This value corresponds to <var>rpcpassword</var> field of the config</p>
        <input asp-for="NodePassword" class="form-control" />
    </div>

    <h3>Remote network info provider parameters</h3>
    <div class="form-group">
        <label asp-for="NetworkInfoApiType">Remote API type:</label>
        <select asp-for="NetworkInfoApiType" class="form-control">
            @foreach (var apiType in EnumHelper.GetCaptionsCached<CoinNetworkInfoApiType>()
                .OrderByDescending(x => x.Key == CoinNetworkInfoApiType.NoApi)
                .ThenBy(x => x.Value))
            {
                <option value="@apiType.Key">@apiType.Value</option>
            }
        </select>
        <div class="small text-muted">
            You can use special (hardcoded) network info provider for the following coins: <b>@string.Join(", ", Model.HardcodedCoins)</b>
            <br />and special (hardcoded) multi-algo network info provider for the following coins: <b>@string.Join(", ", Model.HardcodedMultiAlgoCoins)</b>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NetworkApiUrl">API URL:</label>
        <p class="small" id="apiUrlDescription"></p>
        <input asp-for="NetworkApiUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NetworkApiName">API coin name:</label>
        <p class="small" id="apiCoinNameDescription"></p>
        <input asp-for="NetworkApiName" class="form-control" />
    </div>
    <div class="form-group">
        <label>
            <input asp-for="GetDifficultyFromLastPoWBlock" /> Get difficulty from the last PoW block
        </label>
        <p class="small">
            Check this option for some buggy nodes &amp; block explorers, which don't distinguish between PoW and PoS difficulties and always return the last block's one.
            <br /><em>Currently supported only by the local node and Iquidus block explorer providers</em>
        </p>
    </div>

    <h3>Block reward calculation function</h3>
    <div>
        Here you can write JavaScript code to calculate the coin block reward. <br />
        You can use the following variables:
        <dl class="dl-horizontal">
            <dt><code>height</code></dt>
            <dd>current block height</dd>
            <dt><code>difficulty</code></dt>
            <dd>current network difficulty</dd>
            <dt><code>moneySupply</code></dt>
            <dd>current money supply</dd>
            <dt><code>masternodeCount</code></dt>
            <dd>current masternodes count</dd>
        </dl>
        and helper methods:
        <dl class="dl-horizontal">
            <dt><code>halve(value, times)</code></dt>
            <dd>divide <code>value</code> by 2 <code>times</code> times (decimal part truncated)</dd>
        </dl>
        <p>
            Calculated value should be returned by using the <code>return</code> operator.
        </p>
        <p class="small">
            Reference the wallet source code to find block reward calculation logic. It is usually located in files
            <code>main.cpp</code>, <code>validation.cpp</code>, some constant values are in <code>chainparams.cpp</code>.
            <br />
            Example: <a href="https://github.com/bitcoin/bitcoin/blob/9a97f39afaa890caa7987c6bc001b9a66e3e74e8/src/validation.cpp#L1132">this</a> is the block reward calculation function for BitCoin,
            which references <code>nSubsidyHalvingInterval</code> constant from <a href="https://github.com/bitcoin/bitcoin/blob/9a97f39afaa890caa7987c6bc001b9a66e3e74e8/src/chainparams.cpp#L77">here</a>.
            <br />
            <em>Remember that modern altcoins often use complicated block reward calculation algorithms, which aren't limited just to initial reward halving.
                PoS logic, masternode rewards, team reserves, etc. can influence the block reward, so always check your calculated value against 
                existing block explorers or network info from local node. There is a test box to check calculations for arbitrary network parameters.</em>
        </p>
        <p class="small">
            You can leave this textbox empty, in this case reward info will be retreived from the network info provider.
            <em>Remember that most of them don't provide this data, so you can end with zero reward and, consequently, with zero calculated profitability.</em>
        </p>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <textarea asp-for="RewardCalculationJavaScript"></textarea>
        </div>
        <div class="col-xs-4">
            <h4 class="text-center">Test box</h4>
            <p>Test your code by entering sample argument values: </p>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="sampleHeightInput">Height:</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="sampleHeightInput"
                               value="@Model.LastHeight" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="sampleDifficultyInput">Difficulty:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="sampleDifficultyInput"
                               value="@DoubleToString(Model.LastDifficulty)" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="sampleMoneySupplyInput">Money supply:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="sampleMoneySupplyInput"
                               value="@DoubleToString(Model.LastTotalSupply)"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="sampleMasternodeCountInput">Masternodes:</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="sampleMasternodeCountInput"
                               value="@Model.LastMasternodeCount"/>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="executeTestButton" class="btn btn-lg btn-success">Execute</button>
                </div>
                <p>Result: <span id="rewardCodeResult" class="text-success"></span></p>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        <i class="glyphicon glyphicon-floppy-disk"></i> Save
    </button>
    <a class="btn btn-default" asp-action="Index">
        <i class="glyphicon glyphicon-chevron-left"></i> Return to coins list
    </a>
</form>

@section Scripts {
    <script>
        function halve(value, times) {
            return value / Math.pow(2, times ^ 0);
        }

        function importFile(importedData) {
            $("input#Name").val(importedData.Name);
            $("input#Symbol").val(importedData.Symbol);
            $("select#NetworkInfoApiType").val(importedData.NetworkInfoApiType).change();
            $("input#NetworkApiName").val(importedData.NetworkApiName);
            $("input#NetworkApiUrl").val(importedData.NetworkApiUrl);
            $("input#MaxTarget").val(importedData.MaxTarget);
            $("select#AlgorithmId").val(importedData.AlgorithmId).change();
            $(".CodeMirror")[0].CodeMirror.setValue(importedData.RewardCalculationJavaScript);
            $("select#AddressFormat").val(importedData.AddressFormat).change();
            $("input#AddressPrefixes").val(importedData.AddressPrefixes);
            $("input#GetDifficultyFromLastPoWBlock").prop("checked", importedData.GetDifficultyFromLastPoWBlock);
            if (!isNullOrWhitespace(importedData.Logo)) {
                $("#logoContainer").empty()
                    .append($("<img>").attr({
                        width: "16px",
                        height: "16px",
                        alt: " ",
                        src: "data:image/png;base64," + importedData.Logo
                    }))
                    .append($("<input>").attr({
                        name: "Logo",
                        type: "hidden",
                        value: importedData.Logo
                    }));
            }

            new Notification("Coin settings have been imported successfully").success();
        }

        $(function() {
            // Configure import button
            new JsonFileReader($("#importJsonFileButton")).subscribe(importFile);

            // Configure JavaScipt code editor
            var editor = CodeMirror.fromTextArea(
                document.getElementById("RewardCalculationJavaScript"),
                {
                    mode: "javascript",
                    lineNumbers: true
                });

            // Configure JS code testbox
            var testFunction = function(success, error) {
                try {
                    $("#rewardCodeResult").text("");
                    var code = editor.getValue();
                    if ($.trim(code) === "")
                        return;

                    var heightInput = $("#sampleHeightInput");
                    var difficultyInput = $("#sampleDifficultyInput");
                    var moneySupplyInput = $("#sampleMoneySupplyInput");
                    var masternodeCountInput = $("#sampleMasternodeCountInput");

                    if ([heightInput, difficultyInput, moneySupplyInput, masternodeCountInput]
                        .some(function(element) {
                            return !element.get()[0].checkValidity();
                        })) {
                        MessageBox.alert("Invalid values", "warning", "Some of the sample argument values are invalid");
                        return;
                    }

                    var rewardFunc = new Function(
                        "height,difficulty,moneySupply,masternodeCount",
                        code);
                    var result = rewardFunc(
                        Number(heightInput.val()),
                        Number(difficultyInput.val()),
                        Number(moneySupplyInput.val()),
                        Number(masternodeCountInput.val()));
                    success(result);
                } catch (e) {
                    MessageBox.alert("Error in reward calculation!",
                        "warning",
                        format("Error detected in the reward calculation function:\n{0} - {1}\n\nLine {2}, column {3}\n\nStack trace:\n{4}",
                            e.name,
                            e.message,
                            (e.lineNumber - 2),
                            e.columnNumber,
                            e.stack));
                    error();
                }
            }

            $("#executeTestButton").click(function() {
                testFunction(function(result) {
                        $("#rewardCodeResult").text(result.toFixed(3));
                    },
                    function() {});
            });
            $("form").submit(function(e) {
                testFunction(function() {},
                    function() {
                        e.preventDefault();
                    });
            });
        });
    </script>
}