@model Msv.AutoMiner.FrontEnd.Models.Shared.LogoCoinNameModel

@if (Model.Logo != null && Model.Logo.Length > 0)
{
    <img class="coin-logo" alt="@Model.Symbol"
         src="data:image/png;base64,@Convert.ToBase64String(Model.Logo)" />
}
else
{
    <img class="coin-logo" alt="@Model.Symbol" src="~/images/question16.png" />
}

@if (Model.Symbol != null)
{
    <span>@Model.Name (@Model.Symbol)</span>
}
else
{
    <span>@Model.Name</span>
}