@using Msv.AutoMiner.Common.Helpers
@using Msv.AutoMiner.FrontEnd.Controllers
@model Msv.AutoMiner.FrontEnd.Models.Wallets.WalletIndexModel

@{
    ViewBag.Title = "Wallets";
}

@if (TempData[WalletsController.WalletsMessageKey] != null)
{
    <div class="panel panel-success">
        <div class="panel-body text-success">
            @TempData[WalletsController.WalletsMessageKey]
        </div>
    </div>
}

<h2 class="text-center">Wallets</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="wallet-totals">
            <tr>
                <td>Total BTC:</td>
                <td><i>@ConversionHelper.ToCryptoCurrencyValue(Model.TotalBtc) BTC,</i></td>
                <td><i>$@ConversionHelper.ToFiatValue(Model.TotalUsd)</i></td>
            </tr>
            <tr>
                <td>Total altcoins equivalent:</td>
                <td><i>@ConversionHelper.ToCryptoCurrencyValue(Model.TotalAltcoinBtc) BTC,</i></td>
                <td><i>$@ConversionHelper.ToFiatValue(Model.TotalAltcoinUsd)</i></td>
            </tr>
            <tr>
                <td>Grand total:</td>
                <td><b>@ConversionHelper.ToCryptoCurrencyValue(Model.TotalBtc + Model.TotalAltcoinBtc) BTC,</b></td>
                <td><b>$@ConversionHelper.ToFiatValue(Model.TotalUsd + Model.TotalAltcoinUsd)</b></td>
            </tr>
        </table>
    </div>
</div>

<div class="pull-left">
    @await Component.InvokeAsync("HideZeroButton", WalletsController.ShowZeroValuesKey)
</div>

<div class="pull-right div-table-actions">
    <a class="btn btn-info" asp-action="Create">
        <i class="glyphicon glyphicon-plus"></i> Add new wallet...
    </a>
</div>

<table class="table table-bordered table-striped data-table">
    <thead>
        <tr>
            <th>Coin name</th>
            <th data-orderable="false">Address</th>
            <th>Exchange</th>
            <th>Available</th>
            <th>Blocked</th>
            <th>Unconfirmed</th>
            <th>Last updated</th>
            <th data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody id="wallets-table">
        @Html.Partial("_WalletRowsPartial", Model.Wallets)
    </tbody>
</table>