@using Msv.AutoMiner.Common
@using Msv.AutoMiner.Common.Enums
@using Msv.AutoMiner.Common.Helpers
@using Msv.AutoMiner.FrontEnd.Controllers
@model Msv.AutoMiner.FrontEnd.Models.Wallets.WalletIndexModel

@{
    ViewBag.Title = "Wallets";
}        

@if (TempData[WalletsController.WalletsMessageKey] != null)
{
    <div class="panel panel-success">
        <div class="panel-body text-success">
            @TempData[WalletsController.WalletsMessageKey]
        </div>
    </div>
}

<h2 class="text-center">Wallets</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="wallet-totals">
            <tr>
                <td>Total BTC:</td>
                <td><em>@ConversionHelper.ToCryptoCurrencyValue(Model.TotalBtc) BTC,</em></td>
                <td><em>$@ConversionHelper.ToFiatValue(Model.TotalUsd)</em></td>
            </tr>
            <tr>
                <td>Total altcoins equivalent:</td>
                <td><em>@ConversionHelper.ToCryptoCurrencyValue(Model.TotalAltcoinBtc) BTC,</em></td>
                <td><em>$@ConversionHelper.ToFiatValue(Model.TotalAltcoinUsd)</em></td>
            </tr>
            <tr>
                <td>Grand total:</td>
                <td><strong>@ConversionHelper.ToCryptoCurrencyValue(Model.TotalBtc + Model.TotalAltcoinBtc) BTC,</strong></td>
                <td><strong>$@ConversionHelper.ToFiatValue(Model.TotalUsd + Model.TotalAltcoinUsd)</strong></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="pull-right div-table-actions">
        <a class="btn btn-info" asp-action="Create">
            <i class="glyphicon glyphicon-plus"></i> Add new wallet...
        </a>
    </div>
</div>

<table class="table table-bordered table-striped">
    <tr>
        <th>Coin symbol</th>
        <th>Coin name</th>
        <th>Address</th>
        <th>Exchange</th>
        <th>Available</th>
        <th>Blocked</th>
        <th>Unconfirmed</th>
        <th>Last updated</th>
        <th>Actions</th>
    </tr>
    @foreach (var wallet in Model.Wallets.OrderBy(x => x.Coin.Symbol)
        .ThenBy(x => x.Coin.Name)
        .ThenByDescending(x => x.IsMiningTarget))
    {
        string rowClass;
        string title;
        if (wallet.Activity == ActivityState.Inactive)
        {
            rowClass = "text-muted";
            title = "Wallet is inactive";
        }
        else if (wallet.LastUpdated == null || wallet.LastUpdated < DateTime.UtcNow - TimeSpan.FromMinutes(30))
        {
            rowClass = "warning";
            title = "Wallet data is unavailable or obsolete";
        }
        else if (wallet.IsMiningTarget)
        {
            rowClass = "success";
            title = "This wallet is mining target for its coin";
        }
        else
        {
            rowClass = null;
            title = null;
        }

        <tr class="@rowClass" title="@title">
            <td>@wallet.Coin.Symbol</td>
            <td>
                <a asp-controller="WalletOperations" asp-action="Index" asp-route-currencyId="@wallet.Coin.Id"
                   title="Show all operations for @wallet.Coin.Name wallets">
                    @wallet.Coin.Name</a>
            </td>
            <td class="space-no-wrap">
                <a asp-controller="WalletOperations" asp-action="Index" asp-route-walletId="@wallet.Id"
                   title="Show all operations for this wallet" class="wallet-monospace">
                    @wallet.Address.Truncate(15)
                </a>
                <button class="btn btn-xs btn-default pull-right" title="Copy wallet address to clipboard"
                        data-wallet-address="@wallet.Address">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                </button>
            </td>
            <td>
                <a asp-controller="WalletOperations" asp-action="Index" asp-route-exchange="@wallet.ExchangeType"
                   title="Show all operations for exchange @wallet.ExchangeType">
                    @(wallet.ExchangeType != null ? wallet.ExchangeType.ToString() : "<local>")
                </a>
            </td>
            <td msv-balance="@wallet.Available" msv-btc-price="@wallet.CoinBtcPrice"></td>
            <td msv-balance="@wallet.Blocked" msv-btc-price="@wallet.CoinBtcPrice"></td>
            <td msv-balance="@wallet.Unconfirmed" msv-btc-price="@wallet.CoinBtcPrice"></td>
            <td msv-absolute-date="@wallet.LastUpdated"></td>
            <td>
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-xs btn-primary" asp-action="Edit" asp-route-id="@wallet.Id" title="Edit wallet">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </li>
                    <li>
                        @{
                            var activationButtonTitle = wallet.Activity == ActivityState.Active
                                ? "Disable wallet"
                                : "Enable wallet";
                        }
                        <form asp-action="ToggleActive" asp-route-id="@wallet.Id" method="post" title="@activationButtonTitle">
                            <button class="btn btn-xs btn-info">
                                @if (wallet.Activity == ActivityState.Active)
                                {
                                    <i class="glyphicon glyphicon-remove"></i>
                                }
                                else if (wallet.Activity == ActivityState.Inactive)
                                {
                                    <i class="glyphicon glyphicon-flash"></i>
                                }
                            </button>
                        </form>
                    </li>
                    @if (!wallet.IsMiningTarget)
                    {
                        <li>
                            <form asp-action="SetAsMiningTarget" asp-route-id="@wallet.Id" method="post" title="Set as mining target">
                                <button class="btn btn-xs btn-info">
                                    <i class="glyphicon glyphicon-flag"></i>
                                </button>
                            </form>
                        </li>
                    }
                    <li>
                        <form asp-action="Delete" asp-route-id="@wallet.Id" 
                              method="post" title="Delete wallet"
                              data-confirm-title="Delete wallet @wallet.Address?"
                              data-confirm-body="You are going to delete wallet @wallet.Address. Are you sure?">
                            <button class="btn btn-xs btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script>
        $(function() {
            $("button[data-wallet-address]").click(function() {
                var self = $(this);
                Clipboard.setText(self.data("wallet-address"),
                    function() {
                        self.addClass("btn-success");
                        setTimeout(function() { self.removeClass("btn-success"); }, 2000);
                    },
                    function() {
                        self.addClass("btn-danger");
                        setTimeout(function() { self.removeClass("btn-danger"); }, 2000);
                    });
            });
        });
    </script>
}